<div id="content">

<div style="width: 100%; text-align: center;">
<h1><?php echo $catName; ?></h1>
</div>

<?php if((!isset($postCount)) || ($postCount==0)){ ?>
<div class="post">
<h1 class="title">No Posts</h1>
<p class="postContent">No posts were found in this category. Be the first to post!</p>
</div>
<?php } ?>

<?php
if(isset($postCount)){
$temp=0;
while($temp<$postCount){
?>
<div class="post">
<span class="lastPost">Last Post by:<br><?php echo $lastPostAuthor[$temp]; ?><br>On: <?php echo $lastPostDate[$temp]; ?><br><a href="./index.php?m=<?php echo $moduleNumber; ?>&post=<?php echo $postNumber[$temp]; ?>#<?php echo $lastPostNumber[$temp]; ?>" class="link">Jump to Latest Post</a></span>
<h2 class="title"><a class="title" href="./index.php?m=<?php echo $moduleNumber; ?>&post=<?php echo $postNumber[$temp]; ?>"><?php echo $postName[$temp]; ?></a></h2><br><br>
<span class="postInfo">Posted by: <?php echo $postAuthor[$temp] ?><br>On: <?php echo $postDate[$temp] ?>
<?php if((isset($userRank)) && ($userRank>0)){ //if user is a mod or admin ?><br>
<?php if($postAuthorNum[$temp]!=$_SESSION['user_number']){ ?>
<a href="./index.php?m=<?php echo $moduleNumber; ?>&e=5&p=<?php echo $postAuthorNum[$temp]; ?>" class="link">Ban Poster</a>&nbsp;&nbsp;|&nbsp;&nbsp;
<?php } ?>
<a href="./index.php?m=<?php echo $moduleNumber; ?>&e=6&p=<?php echo $postNumber[$temp]; ?>" class="link">Delete Thread</a>
<?php } ?>
</span>
</div>
<?php
$temp=$temp+1;
}}
?>
<?php if((isset($_SESSION['user_number'])) && ($_SESSION['user_number']>=0)){ ?>
<div style="width: 100%; text-align: center;">
<h3>New Thread:</h3>
<form method="POST" action="./index.php?m=<?php echo $moduleNumber; ?>&cat=<?php echo $catNumber; ?>">
Title: <input type="text" name="newThreadTitle"><br><br>
Message: <textarea name="newThreadContent" rows="5" columns="50"></textarea><br>
<input type="submit" value="Submit">
</form>
<?php } ?>
</div><!-- end content -->

