<div id="content">

<?php if((!isset($catCount)) || ($catCount==0)){ ?>
<div class="post">
<h1 class="title">No Forum Categories</h1>
<p class="postContent">No forum categories were found.</p>
</div>
<?php } ?>

<?php
if(isset($catCount)){
$temp=0;
while($temp<$catCount){
?>
<div class="post">
<h2 class="title"><a class="title" href="./index.php?m=<?php echo $moduleNumber; ?>&cat=<?php echo $catNumber[$temp]; ?>"><?php echo $catName[$temp]; ?></a></h2><br>
<p class="postContent"><?php echo $catDesc[$temp]; ?></p>
</div>
<?php
$temp=$temp+1;
}}
?>

</div><!-- end content -->

