<div id="pageTitle">
<h1>Join</h1>
</div>

<div id="content">

<div class="post">
<?php if((isset($message)) && (strlen($message)>2)){ ?>
<br><div class="error">
<?php echo $message; ?>
</div><br>
<?php } ?>
<form action="./index.php?m=<?php echo $moduleNumber; ?>&e=<?php echo $extraNumber; ?>" method="POST">
Username:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="text" name="userName"><br>
Password:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="password" name="password"><br>
Password Again: <input type="password" name="passwordVerify"><br>
Email Address:&nbsp;&nbsp;&nbsp; <input type="text" name="emailAddress"><br>
<input type="submit" value="Join" name="submit">
</form><br><br>
</div>
</div>
