<div id="pageTitle">
<h1>Login</h1>
</div>

<div id="content">

<div class="post">
<?php if((isset($message)) && (strlen($message)>2)){ ?>
<br><div class="error">
<?php echo $message; ?>
</div><br>
<?php } ?>
<form action="./index.php?m=<?php echo $moduleNumber; ?>&e=<?php echo $extraNumber; ?>" method="POST">
Username: <input type="text" name="userName"><br>
Password: <input type="password" name="password"><br>
<!--<input type="checkbox" name="stay"> Stay Logged In? (For 1 Week)<br><br>-->
<input type="submit" value="Login" name="submit">
</form><br><br>
</div>
</div>
