<div id="content">
<div style="margin: auto; text-align: center;"><br><br>
<?php if((isset($message)) && (strlen($message)>2)){ 
echo $message;
}else{
echo 'How did you get here?<br><a href="./index.php?m=' . $moduleNumber . '">Return</a>';
}
?>
</div>
</div>
<br><br>
