<div id="content">

<div style="width: 100%; text-align: center;">
<h1><?php echo $postName; ?></h1>
</div>

<?php if((!isset($postCount)) || ($postCount==0)){ ?>
<div class="post">
<h1 class="title">Post Not Found</h1>
<p class="postContent">Sorry, we couldn't find this post. It may have been deleted by and admin.</p>
</div>
<?php } ?>

<?php
if(isset($postCount)){
$temp=0;
while($temp<$postCount){
?>
<div class="post">
<table width="100%">
<tr>
<td width="10%">
<span class="postInfo"><?php echo $postAuthor[$temp] ?>
<a id="<?php echo $postNumber[$temp]; ?>" style="text-decoration: none;">&nbsp;</a>
<br><?php echo $postDate[$temp] ?></span>
</td><td width="90%">
<?php echo $postContent[$temp]; ?>
<?php if((isset($userRank)) && ($userRank>0)){ //if user is a mod or admin ?><br><hr>
<?php if($postAuthorNumber[$temp]!=$_SESSION['user_number']){ ?>
<a href="./index.php?m=<?php echo $moduleNumber; ?>&e=5&p=<?php echo $postAuthorNumber[$temp]; ?>" class="link">Ban Poster</a>&nbsp;&nbsp;|&nbsp;&nbsp;
<?php } ?>
<a href="./index.php?m=<?php echo $moduleNumber; ?>&e=6&p=<?php echo $postNumber[$temp]; ?>" class="link">Delete Post</a>
<?php } ?>
</td>
</tr>
</table>
</div>
<?php
$temp=$temp+1;
}}
?>

<?php if((isset($_SESSION['user_number'])) && ($_SESSION['user_number']>=0)){ ?>
<div style="width: 100%; text-align: center;">
<h3>Reply:</h3>
<form action="./index.php?m=<?php echo $moduleNumber; ?>&post=<?php echo $postNumber[0]; ?>" method="POST">
<textarea name="reply" rows="5" columns="50"></textarea>
<input type="submit" value="submit">
</form>
</div>
<?php } ?>
</div><!-- end content -->

